:root {
    --fadeInTime: 1.5s; /* Fade-in duration */
    --startTranslateY: 15px; /* Initial vertical position */
}

body {
    font-family: Arial, sans-serif;
    text-align: left;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

h2 {
    text-align: center;
}

.about-me {
    text-align: center;
    background: #ffffff;
    padding: 40px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 60%;
    margin: 20px auto;
}


/* Style for the containers */
.container {
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0; /* Initially hidden */
    transform: translateY(var(--startTranslateY)); /* Start slightly lower */
    transition: opacity var(--fadeInTime), transform var(--fadeInTime); /* Smooth transition */
}

/* Add delay to each container for staggered animation */
.container.animate {
    opacity: 1;
    transform: translateY(0); /* Move to normal position */
}

